@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-black: #222;
  --color-primary: #0046FF;
  --color-secondary: #FF9013;
  --color-accent: #73C8D2;
  --color-tertiary: #F5F1DC;
  --color-dim: #F5F5F7;
}

* {
  font-family: "Poppins", sans-serif;
}

/* h1{
    font-size: 1.5rem;
} */

h2{
    font-size: 1rem;
}